.containerDetail {
    width: 80vmin;
    margin: 0 auto;
    border-radius: 10px;
    padding: 3vmin;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.titleDetail {
    font-size: 6vmin;
    text-align: center;
    margin: 0 auto;
}

.authorInfoDetail {
    display: flex;
    gap: 3vmin;
    align-items: center;
}

.authorNameDetail {
    font-size: 4vmin;
}

.authorCreatedDetail {
    margin: -3vmin 0 5vmin 0;
}


.imgDetailDetail {
    width: 100%;
}

.articleTextDetail {
    font-weight: thinner;
    font-size: 2.2vmin;
    white-space: pre-wrap
}