.homeDivPost {
    width: 80vmin;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;


}

.title1Post {
    text-align: center;
    color: white;
}

.imgPost {
    width: 25vmin;
    height: 25vmin;
    border: 2px solid black;
}

.blogCardPost {
    width: 90%;
    border-radius: 5px;
    margin: 1vmin auto;
    border: 2px solid black;
    padding: 3vmin;
    display: flex;
    gap: 3vmin;
    align-items: center;
    background-color: white;
    color: black;


}

.datePost {
    font-weight: lighter;
}


.previewTextPost {
    font-weight: 300;
}